<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="contact.component.scss"> 
    
</head>
<body>
   

    <section class="form-section">
        <h1>Información de Contacto</h1>
        <p><strong>Nombre:</strong> Joseph Wellesley-Martinez</p>
        <p><strong>Estudiante:</strong> Universidad Politécnica Salesiana</p>
        <p><strong>Correo Institucional:</strong> <a href="mailto:jwellesley@est.ups.edu.ec">jwellesley#est.ups.edu.ec</a></p>
        <p><strong>Tarea:</strong> Práctica - Desarrollo web con estándares HTML</p>
    </section>
    
    <footer>
        <p>&copy; 2024 Universidad Politécnica Salesiana.</p>
    </footer>
</body>
</html>