<main>
    <section class="welcome-section">
        <div class="welcome-container">
            <h1>Bienvenido a la Plataforma de Gestión de Cursos</h1>
            <p>Desarrolla habilidades prácticas en el desarrollo web mediante nuestra plataforma interactiva de gestión de cursos.</p>
            <button class="btn-primary" href="pages/acursos">Comienza ahora</button>
        </div>
    </section>

    <section class="features-section">
        <h2>Funcionalidades Principales</h2>
        <ul>
            <li>Agregar nuevos cursos con un formulario intuitivo.</li>
            <li>Explorar la lista de cursos disponibles con detalles importantes como nombre, instructor, y duración.</li>
            <li>Eliminar cursos y actualizar la lista automáticamente.</li>
            <li>Ver detalles adicionales sin recargar la página.</li>
            <li>Almacenar los datos de forma local con localStorage.</li>
        </ul>
    </section>

    <section class="data-section">
        <h2>Football Matches</h2>
        <div *ngIf="data$ | async as data; else loading">
          <table>
            <thead>
              <tr>
                <th>Home Team</th>
                <th>Away Team</th>
                <th>Home Score</th>
                <th>Away Score</th>
                <th>Tournament</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let event of data.response.events">
                <td>{{ event.homeTeam.name }}</td>
                <td>{{ event.awayTeam.name }}</td>
                <td>{{ event.homeScore.display }}</td>
                <td>{{ event.awayScore.display }}</td>
                <td>{{ event.tournament.name }}</td>
                <td>{{ event.status.description }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <ng-template #loading>
          <p>Loading data...</p>
        </ng-template>
      </section>
      
      
    
    
  
    
</main>

<footer>
    <p>&copy; 2024 Universidad Politécnica Salesiana.</p>
</footer>
