<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plataforma de Gestión de Cursos</title>
    <link rel="stylesheet" href="app.component.scss"> <!-- Updated CSS file link -->
</head>
<body>

    <header>
        <nav class="navbar">
            <div class="logo">CursosOnline</div>
            <div class="nav-links">
                <a href="pages/inicio">Inicio</a>
                <a href="pages/curso">Cursos</a>
                <a href="pages/acursos">Agregar Curso</a>
                <a href="pages/contact">Contacto</a>
            </div>
        </nav>
    </header>

    <router-outlet></router-outlet>

    

</body>
</html>